.custom-link {
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  color: #000;
}
.custom-link:hover{
  color: #3671C6;
}

.accordion-header {
  .accordion-button{
    background-color: #000 !important;
    color: #fff !important;
  }
  .accordion-button::after{
    color: #fff !important;
  }
  .collapsed {
    background-color: #fff !important;
    color: #000 !important;
  }
  .accordion-button:not(.collapsed)::after{
    color: #000 !important;
  }
}
